:root{
/* CSS HEX */
--indigo-dye: #053c5eff;
--rojo: #db222aff;
--teal: #1f7a8cff;
--madder: #a31621ff;
--columbia-blue: #bfdbf7ff;
}
.round-image {
    width: 200px; /* Set the desired   for the image */
    height: 200px; /* Set the desired height for the image */
    border-radius: 50%; /* Make the image round */
}
body {
  font-family: 'Roboto Mono';
  /* background-color: var(--columbia-blue); */
  background-color: whitesmoke;
}
.color-text{
  color: var(--teal);
  
}
.btn-btn-custome{
  background-color: var(--columbia-blue);
}
.name {
  text-shadow: 0px 0px 3px var(--teal);  
}
.title{
  padding: auto;
  font-size: 65px;
}
#about-container{
  background-color: var(--teal);
  box-shadow: 5px 5px 15px var(--indigo-dye);
  text-align: left;
  color: whitesmoke;
}
#header{
    padding-top: 5%;
    /* background-color: var(--madder); */
}
